.landingPage{
    margin-bottom: 100px;
    position: relative;
}

.landingPage::before{
  content: "";
  bottom: 0;
  width: 100%;
  height:100px;
  background: linear-gradient(to top,#1A1B1F, transparent);
  position: absolute;
  z-index: 100;
}


.bg-image{
    position: relative;
    background-image: url(../../assets/CoffeeLandingP.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    width: 100vw;
}

.container{
    width: 90%;
    margin: auto;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 90%;
    align-items: center;
}

.container-links{
  position: fixed;
  margin: auto;
  top: 5%;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 102;
  animation: 1s ease-in-out floatFromUp;
}

@keyframes floatFromUp{
  0%{
    top: -100%;
  }
  100%{
    top: 5%;
  }
}

.order-btn__link{
  text-decoration: none;
  color: #000;
}

.logo img{
    height: auto;
    width: 130px;
    margin-top:10px;
    margin-left:10px;
    margin-bottom: 5px;
}


.links{
    margin: auto;
    display: flex;
    gap:20px;
    font-size: 25px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
}


.link{
    color: #fff;
    text-decoration: none;
    position: relative;
}

.link::before{
    content: ""; 
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all ease 0.3s;
}

.link:hover::before{
    visibility: visible ;
    transform: scaleX(1);
}




.texts{
    width: 50%;
    position: absolute;
    top: 20%;
    padding: 10px;
}

.main-text{
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 3px;
    margin-top: 30px;
    color: #e5e5e5;
}

.colored{
    color: var(--main-color);
}


.second-text{
    color: #e5e5e5;
    margin-top: 20px;
    font-size: 20px;
}

.order-btn{
    padding: 10px;
    padding-inline: 20px;
    background-color: var(--action-color) ;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all ease 0.3s;
}

.order-btn:hover{
    scale: 1.1;
}

.order-btn:active{
    scale: 0.8;
}

#menu {
    display: none;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    overflow-x: visible;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: var(--action-color);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .navbar {
    transition: 0.3s ease;
    display: none;
  }
  
  .navbar ul {
    padding: 0 22px;
  }
  
  .navbar li {
    list-style: none;
    padding: 12px 0;
  }
  
  .menu-link {
    position: relative;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    transition: all ease 0.3s;
  }
  .menu-link::before {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--action-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all ease 0.3s;
  }
  
  .menu-link:hover::before {
    transform: scaleX(1);
    visibility: visible;
  }
  
  .menu-link:hover {
    font-weight: bold;
    color:var(--action-color);
  }

  
  .menu-bg, #menu {
    position: fixed;
    top: 2%;
    right: 5%;
    z-index: 102;
    overflow-x: visible;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #F9D9AA, #F9D9AA);
    border-radius: 50%;
    transition: 0.3s ease;
    z-index: 101;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateX(-40vw) translateY(85px) rotateZ(-45deg);

  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateX(-40vw) translateY(75px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(60%,-50%);
  }


@media(max-width:1350px){

    .links{
        background: rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 20px;
        backdrop-filter: blur(4px);
    }

    .link::before{
        background-color: #000;
    }

}


@media (max-width:600px){
    .logo img{
        height: 50px;
        width:auto
    }

    .texts{
        width: 90%;
    }

    .main-text{
        font-size: 40px;
    }

    .links{
        display: none;
    }
    
    #menu{
      display: flex;
    }

    .cart{
        right: 9%;
    }

    .bg-image{
      filter: blur(3px);
    }

    .landingPage::before{
      display: none;
    }
}

@media (max-width:440px){
    .links{
        display: none;
    }

    .nav{
        padding: 10px;
    }

}


