#menu {
  display: none;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  overflow-x: visible;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--action-color);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.navbar {
  transition: 0.3s ease;
  display: none;
}

.navbar ul {
  padding: 0 22px;
}

.navbar li {
  list-style: none;
  padding: 12px 0;
}

.menu-link {
  position: relative;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  transition: all ease 0.3s;
}

.menu-link:hover {
  font-weight: bold;
  color: var(--action-color);
}

.menu-bg,
#menu {
  position: fixed;
  top: 4%;
  right: 5%;
  z-index: 102;
  overflow-x: visible;
}

.menu-bg {
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #f9d9aa, #f9d9aa);
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 101;
}

.change {
  display: block;
}

.change .bar {
  background-color: #fff;
}

.change #bar1 {
  transform: translateX(-27vw) translateY(-5px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateX(-27vw) translateY(-15px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transition: all ease 0s;
  translate: 60% -50%;
}

@media (max-width: 600px) {
  #menu {
    display: flex;
  }
}

@media (max-width: 425px) {
  .menu-bg {
    margin: 0 20px 20px 0;
  }

  .menu-link {
    font-size: 15px;
  }

  .change-bg {
    width: 350px;
    height: 370px;
  }
  .navbar ul {
    padding: 0;
  }
}
