.landingPage {
  margin-bottom: 100px;
  position: relative;
}

.landingPage::before {
  content: "";
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1a1b1f, transparent);
  position: absolute;
  z-index: 99;
}

.bg-image {
  position: relative;
  background-image: url(../../../assets/CoffeeLandingP.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  width: 100vw;
}

.container {
  width: 90%;
  margin: auto;
}

.texts {
  width: 50%;
  position: absolute;
  top: 20%;
  padding: 10px;
}

.main-text {
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 3px;
  margin-top: 30px;
  color: #e5e5e5;
}

.colored {
  color: var(--main-color);
}

.second-text {
  color: #e5e5e5;
  margin-top: 20px;
  font-size: 20px;
}

.order-btn {
  padding: 10px;
  padding-inline: 20px;
  background-color: var(--action-color);
  border-radius: 10px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all ease 0.3s;
}

.order-btn:hover {
  scale: 1.1;
  background-color: transparent;
}

.order-btn__link:hover > .order-btn {
  color: var(--action-color);
}

.order-btn:active {
  scale: 0.8;
}

@media (max-width: 600px) {
  .texts {
    width: 90%;
  }

  .main-text {
    font-size: 40px;
  }

  .bg-image {
    filter: blur(3px);
  }

  .landingPage::before {
    display: none;
  }
}
