.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
  height: max-content;
  background-color: var(--main-color);
  margin-inline: auto;
  color: #000;
  padding: 50px;
  gap: 50px;
  border-radius: 15px;
}

.form-headline {
  text-align: center;
  margin-top: 10%;
  font-size: 40px;
  margin-bottom: 10px;
}

.form-desc {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
}

.form-text {
  font-size: 25px;
  letter-spacing: 0.3px;
}

label {
  margin-right: 50px;
}

input {
  width: 200px;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px;
  caret-color: var(--action-color);
  transition: all ease 0.3s;
}

input:focus-within {
  border: 1px solid var(--action-color);
}

.divider {
  background-color: var(--action-color);
  color: var(--action-color);
  height: 1px;
  border: transparent;
  border-radius: 15px;
  width: 100%;
}

.name {
  display: flex;
  gap: 20px;
}

.name input {
  width: 100px;
}

select {
  border: transparent;
  border-radius: 10px;
  padding: 10px;
  color: #000;
  background-color: #fff;
}

textarea {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.full-name,
.email,
.phone,
.guests,
.type,
.requests {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hiddenText {
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.hiddenText h3 {
  font-size: 40px;
  margin-top: 100px;
}

.confirmation {
  width: 200px;
  height: auto;
  margin-top: 100px;
}

@media (max-width: 600px) {
  .contact-form {
    width: 90%;
  }

  .form-headline {
    font-size: 30px;
    margin-top: 23%;
  }

  .form-text {
    font-size: 20px;
  }

  .form-desc {
    font-size: 20px;
  }

  .full-name {
    flex-direction: column;
    align-items: normal;
  }

  .full-name label {
    margin-bottom: 20px;
  }

  .email {
    flex-direction: column;
    align-items: normal;
  }

  .email label {
    margin-bottom: 20px;
  }

  .phone {
    flex-direction: column;
    align-items: normal;
  }

  .phone label {
    margin-bottom: 20px;
  }

  .guests {
    flex-direction: column;
    align-items: normal;
  }

  .guests label {
    margin-bottom: 20px;
  }

  .type {
    flex-direction: column;
    align-items: normal;
  }

  .type label {
    margin-bottom: 20px;
  }

  .requests {
    flex-direction: column;
    align-items: normal;
  }

  .requests label {
    margin-bottom: 20px;
  }
}

@media (max-width: 350px) {
  .form-headline {
    font-size: 20px;
  }
}
