.container-links{
    position: fixed;
    margin: auto;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 102;
    animation: 1s ease-in-out floatFromUp;
  }
  
  @keyframes floatFromUp{
    0%{
      top: -100%;
    }
    100%{
      top: 5%;
    }
  }