.footer {
  text-align: center;
  background-color: #000;
  width: 100%;
  min-height: 50px;
  margin-top: 50px;
}

.footer-wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
