.card{
    background-color: var(--main-color);
    width: 45%;
    padding: 20px;
    border-radius: 15px;
    color: #000;
    position: relative;
}


.card-headline{
    font-size: 25px;
    margin-bottom: 10px;
}

.card-desc{
    width: 100%;
}

.card-span{
    position: absolute;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: var(--action-color);
    top:-25px;
    left: 10px;
}