.chooseUs{
    margin-top: 100px;
}


.headline-wrapper{
    text-align: center;
}

.headline-chooseUs{
    font-size: 30px;
    margin-bottom: 10px;
}

.desc-chooseUs{
    margin-bottom: 50px;
    font-size: 22px;
}

.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}