@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --main-color: #f9d9aa;
  --secondary-color: #d7a474;
  --addition-color: #f7ebdb;
  --action-color: #e58124;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  line-height: 1.6;
  background-color: #1a1b1f;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 90%;
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}

.headline {
  font-size: 40px;
  margin-bottom: 100px;
}

@media (max-width: 425px) {
  .headline {
    font-size: 30px;
  }
}
